//common colors
$white: #FFFFFF;
$black: #000000;

//colors
$gray: #828282;
$lightBlack: #070707;
$lightGray: #F6F6F6;

//mediaBreakpoints
$mediaHeight: 901px;
$mediaLaptop: 1440px;
$mediaLittle: 1240px;

//px
$wrapperWidth: 960px;