@import "__variables.scss";
@import "__mixins.scss";

@media screen and (max-width: 980px) {
    .header {
        display: none;
    }
    .about {
        &__wrapper {
            h1 {
                margin-bottom: 60px;
            }
        }
        &__info {
            @include flexColumn;
            img {
                margin-bottom: 60px;
            }
            &-characteristics {
                @include flexColumn;
            }
        }
    }
    .composition {
        &__info {
            @include flex {
                align-items: flex-start;
            }
            &-img {
                display: none;
            }
        }
    }
    .about {
        &__wrapper {
            h1 {
                margin-bottom: 60px;
            }
        }
        &__info {
            @include flexColumn;
            img {
                margin-bottom: 60px;
            }
            &-characteristics {
                @include flexColumn;
            }
        }
    }
    .promo {
        &__info {
            @include flexColumn;
            img {
                margin-bottom: 60px;
            }
            &-characteristics {
                @include flexColumn;
            }
        }
    }
    .toOrder {
        &__body {
            @include flexColumn;
            &-info {
                margin: 0 0 50px 0;
            }
            &-item {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .about {
        &__info {
            &-characteristics {
                width: 100%;
            }
        }
    }
    .composition {
        &__info {
            @include flexColumn;
        }
    }
    .promo {
        &__info {
            &-characteristics {
                width: 100%;
            }
        }
    }
    .toOrder {
        &__body {
            @include flexColumn;
            &-info {
                margin: 0 0 50px 0;
            }
            &-item {
                &_form {
                    &-name, &-phone {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}